{% extends "base.html" %}
{% block title %}{% endblock %}
{% block content1 %}
<style>
    table {
        font-family: times new roman, sans-serif;
        border-collapse: collapse;
    }

    td, th {
        border: 1px solid #dddddd;
        text-align: center;
        padding: 8px;
    }

    tr:nth-child(odd) {
        background-color: #dddddd;
    }

    tr:nth-child(even) {
        background-color: #B2BBFF;
    }
</style>
<table class="center" width="200">
    <form method="post">
    <tr align"center">
        <td>Employee:</td>
        <td>{{employee_name}}</td>
        <td colspan='1'><input class="btn btn-default" type="submit" value="Log Out" formaction="/logout"></td>
        <td colspan='1'><input class="btn btn-default" type="submit" value="Switch Account Holder" formaction="/switchaccount"></td>
        <td colspan='1'><input class="btn btn-default" type="submit" value="Force Interest Payment" formaction="/forceinterest"></td>
    </tr>
    </form>
</table>
<br>
<table class="center" width="350">
    <form method="post">
    <tr align"center">
        <td>Account Holder:</td>
        <td>{{account_name}}</td>
    </tr>
    <tr>
        <td>Account Number:</td>
        <td>{{account_number}}</td>
    </tr>
    </form>
    <tr align"center">
        <td>Account Balance:</td>
        <td>${{account_balance}}</td>
    </tr>
</table>
<br>
<form method="post">
    <table class="center">
        <tr>
            <td><label for="deposit">Deposit</label></td>
            <td><input name="deposit" id="deposit"></td>
            <td colspan='1'><input type="submit" value="Confirm"></td>
        </tr>
        <tr>
            <td><label for="withdraw">Withdraw</label></td>
            <td><input name="withdraw" id="withdraw"></td>
            <td colspan='1'><input type="submit" value="Confirm"></td>
        </tr>
    </table>
</form>
<br>
<table class="center" width="650">
    <tr align"center">
        <th>Date</th>
        <th>Transfer</th>
        <th>Transfer Amount</th>
        <th>Account Value</th>
    </tr>
    {{account_history|safe}}
</table>
{% with messages = get_flashed_messages() %}
        {% if messages %}
            {% for msg in messages %}
<center>
    <p style="color:red;">{{msg}}</p>
</center>
            {% endfor %}
        {% endif %}
    {% endwith %}
{% endblock %}
