<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="utf-8">
        <title>{% block title %}{% endblock %}</title>
        <style>
            html, body {
                height: 100%;
                margin: 0px;
                font-size: 120%;
            }
            table.center {
                margin-left: auto;
                margin-right: auto;
            }
        </style>
    </head>
    <body onload="initClock()">
        <table cellpadding="0" cellspacing="0" width="100%" height="100%" style="border:solid 1px #000000">
             <tr>
                <td colspan = "1" bgcolor = "#6875AF">
                    <center>
                        <h5><font face="Times New Roman" size="6px" color="#FFFFFF">GRJ Credit Union</font></h5>
                    </center>
                </td>
             </tr>
             <tr valign = "top">
                <td style="padding:40px" bgcolor = "#C2CDFF" width = "100%" height = "100%">
                   {% block content1 %} {% endblock %}
                </td>

             </tr>
             <tr>
                <td colspan = "1" bgcolor = "#6875AF">
                   <center>
                       <font face="Times New Roman" size="5px" color="#FFFFFF">
                           <div class="date">
                               <h5>
                               <span id="dayname">Day</span>
                               <span>&emsp;</span>
                               <span id="month">Month</span>
                               <span id="daynum">00</span>
                               <span>,</span>
                               <span id="year">Year</span>
                               <span>&emsp;</span>
                               <span id="hour">00</span>
                               <span>:</span>
                               <span id="minutes">00</span>
                               <span>:</span>
                               <span id="seconds">00</span>
                               <span id="period">AM</span>
                               </h5>
                           </div>
                       </font>
                   </center>
                </td>
             </tr>
        </table>

        <script type="text/javascript">
            function updateClock(){
                var now = new Date();
                var dname = now.getDay(),
                    mo = now.getMonth(),
                    dnum = now.getDate(),
                    yr = now.getFullYear(),
                    hou = now.getHours(),
                    min = now.getMinutes(),
                    sec = now.getSeconds(),
                    pe = "AM";

                    if(hou == 0){
                        hou = 12
                    }
                    if(hou > 12){
                        hou = hou - 12;
                        pe = "PM"
                    }

                    var months = ["January", "February", "March", "April", "May", "June", "July", "August", "September", "October", "November", "December"];
                    var week = ["Sunday", "Monday", "Tuesday", "Wednesday", "Thursday", "Friday", "Saturday"];
                    var ids = ["dayname", "month", "daynum", "year", "hour", "minutes", "seconds", "period"];
                    var values = [week[dname], months[mo], dnum, yr, hou, min, sec, pe];
                    for(var i = 0; i < ids.length; i++)
                    document.getElementById(ids[i]).firstChild.nodeValue = values[i];
            }

            function initClock(){
                updateClock();
                window.setInterval("updateClock()", 1);
            }
        </script>
    </body>
</html>
